<script type="text/javascript">
function validateForm() {
    var name = document.getElementById("name").value;
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    if (password != confirmPassword) {
        alert("Passwords do not match");
        return false;
    }
    return true;
}    
function login(){
    if(validateForm()){
        window.location.href = "";
    }    
    else{
        alert("Passwords do not match");
    }
}
</script>
<div class="form-container">
    <form action="" method="post">
        <input type="text" placeholder="Enter Your UserName" name="name" id="name" /><br />
        <input type="password" placeholder="Enter Your Password" name="password" id="password" /><br />
        <input type="password" placeholder="Confirm Your Password" name="confirmPassword" id="confirmPassword" /><br />
        <button type="button" onclick="window.location.href = ''">Register</button><br />

        <a href="">Aleady Have an Account? Login !</a>
    </form>
</div>